
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#">
                <span class="glyphicon glyphicon-chevron-left pull-left back-button"></span>
            </a>
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                Profile
            </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle"
                       data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">Settings
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
                <li><a ng-click="model.updateUser(model.user)">
                    <span class="glyphicon glyphicon-ok pull-right"></span>
                </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">

   <div class="alert alert-info" ng-show="model.message">
       <div class="text-center">
           {{model.message}}
       </div>
   </div>

    <div class=profile-inputs>
        <label for="username">Username </label>
        <input  readonly
                ng-model="model.user.username"
                id="username"
                class="form-control"/>

        <label for="first">First</label>
        <input
                ng-model="model.user.firstName"
                id="first"
                class="form-control"/>

        <label for="last">Last</label>
        <input ng-model="model.user.lastName"
               id="last"
               class="form-control"/>

        <label for="email">Email</label>
        <input
                ng-model="model.user.email"
                id="email"
                type="email"
               class="form-control"/>
    </div>

    <a ng-click="model.updateUser(model.user)"
       class="btn btn-block btn-success">Update</a>

    <a ng-click="model.unregister()"
       class="btn btn-block btn-danger">Unregister</a>

    <a href="#!/user/{{model.user._id}}/website"
       class="btn btn-block btn-primary">Websites</a>

    <a ng-click="model.logout()" class="btn btn-block btn-danger">Logout</a>
</div>


<div ng-include="'views/common/footer.view.client.html'"></div>


