<div ng-switch="model.widget.type">
    <div ng-switch-when="HEADING">
        <div ng-include="'views/widget/editors/widget-heading-editor.view.client.html'"></div>
    </div>
    <div ng-switch-when="IMAGE">
        <div ng-include="'views/widget/editors/widget-image-editor.view.client.html'"></div>
    </div>
    <div ng-switch-when="YOUTUBE">
        <div ng-include="'views/widget/editors/widget-youtube-editor.view.client.html'"></div>
    </div>
    <div ng-switch-when="HTML">
        <div ng-include="'views/widget/editors/widget-html-editor.view.client.html'"></div>
    </div>
    <div ng-switch-when="TEXT">
        <div ng-include="'views/widget/editors/widget-text-editor.view.client.html'"></div>
    </div>
</div>